[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Harsh Vashishta
	email = harshvashishta7@gmail.com
[core]
	editor = \"C:\\Users\\harsh\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
