.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.3rem;
    max-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead th{
    background-color: #009879;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
}

.styled-table th,
.styled-table td{
    padding: 12px 15px;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.btn-edit{
    background-color: #008cba;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-delete{
    background-color: #f44336;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin-right: 5px;
    cursor: pointer;
}
.btn-view{
    background-color: #e7e7e7;
    font-size: 1.1rem;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}